/* Gallery Page Styles */

.gallery-page-section {
    background-color: rgb(30, 30, 40);
    padding: 60px 0;
}

.gallery-page-container {
    margin: 0 auto;
    padding: 0 0px;
    max-width: 1200px;
}

.gallery-page-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 40px auto;
    padding: 0 20px;
    justify-content: center;
    align-items: flex-start;
}

.gallery-page-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    max-width: 400px;
    width: 100%;
    flex: 0 1 400px;
    height: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    cursor: zoom-in;
    margin: -2px;
}

.gallery-page-card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.gallery-page-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 50%,
            rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
    pointer-events: none;
}

.gallery-page-card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.gallery-page-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.gallery-page-description {
    margin: 0;
    line-height: 1.6;
    opacity: 0.9;
    font-size: 1rem;
}
